.containerDN {
  height: 700px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxLogin {
  background-color: #ffffff;
  border-radius: 15px;
  width: 450px;
  height: 550px;
  clear: both;
  display: block;
  text-align: center;
  border: 2px solid #79f736;
  box-shadow: 5px 5px #79f736;
  padding-top: 50px;
}

.textTitle {
  font-size: 50px;
  font-weight: bold;
  color: #757569;
  text-align: center;
  display: block;
  font-family: "Times New Roman", Times, serif;
}
.frm {
  height: 300px;
}
.text {
  color: #757569;
}
