.container-ad {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
  min-height: 700px;
  color: #ddd;
  padding-top: 20px;
}
.fixrow-bn {
  margin: 0px 0px 20px 0px;
}
.table-bns {
  height: 500px;
  overflow-y: scroll;
}
thead {
  background-color: #d2d9e0;
  font-size: 20px;
  font-weight: 400;
}
td {
  border-bottom: 1px solid #dee2e6;
}
tr td:nth-child(1) {
  font-weight: bold;
}
th {
  position: sticky;
  top: 0;
}
.tab-link {
  line-height: 50px;
  border-bottom: 2px solid #d2d9e0;
  margin: 0px 0px 20px 0px;
  box-shadow: 5px 2px 5px;
  color: #a6b1bc;
  font-size: 20px;
  z-index: 1;
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
}
.tab-link--key0 {
  cursor: pointer;
  margin-left: 0px;
  padding: 0px 5px 0px 20px;
}
.tab-link--key1 {
  cursor: pointer;
  padding: 0px 10px 0px 20px;
}
.tab-link--key0:hover {
  background-color: #edf2f7;
}
.tab-link--active0 {
  background-color: #e8f0f7;
  border-bottom: 1px solid #d2d9e0;
  border-right: 1px solid #d2d9e0;
}

.tab-link--key1:hover {
  background-color: #edf2f7;
}
.tab-link--active1 {
  background-color: #e8f0f7;
  border-bottom: 1px solid #d2d9e0;
  border-left: 1px solid #d2d9e0;
}
.pd {
  padding-left: 30px;
}
.bn-box {
  width: 100%;
  min-height: 550px;
  background-color: #eaeaf2;
  overflow: hidden;
  color: #495057;
  font-weight: 300;
  font-size: 18px;
  border: none;
  box-shadow: 5px 5px 5px #a9bcab;
  border-radius: 10px;
  height: auto;
}
.bn-box img {
  width: 150px;
  height: 150px;
}
.bn-name {
  margin: 0px;
  padding-top: 30px;
}
.bn-img-box {
  margin: 10px 0px 10px 0px;
}
.bn-img {
  padding-left: 20px;
}
.bn-tt {
  font-weight: 500;
  font-size: 22px;
}
.bn-active {
  color: #ff9c00;
}
.bn-recovered {
  color: #337ab7;
}
.bn-death {
  color: red;
}
.bn-thongtin {
  margin: 0px 10px 0px 10px;
  font-size: 14px;
  font-style: italic;
}
.bn-thongtin-text-box {
  background-color: #f8f9fa;
  text-align: justify;
  height: 250px;
  margin: 5px 20px 10px 20px;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
}
.bn-button {
  margin: 30px 0px 10px 0px;
}
.btn-modal {
  width: 200px;
}
.row-modal {
  margin: 20px 0px 0px 20px;
}
