@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");

.bodyhi {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
  color: rgba(255, 255, 255, 0.87);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 70px;
}
.text {
  font-size: 30px;
}
