.container-ad {
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
  min-height: 700px;
  color: #ddd;
  padding-top: 20px;
}
.fixrow-bn {
  margin: 0px 0px 20px 0px;
}
.table-ad {
  height: 300px;
  overflow-y: scroll;
}
thead {
  background-color: #d2d9e0;
  font-size: 20px;
  font-weight: 400;
}
td {
  border-bottom: 1px solid #dee2e6;
}
tr td:nth-child(1) {
  font-weight: bold;
}
th {
  position: sticky;
  top: 0;
}

.from-ad-bn {
  height: 250px;
  background-color: #e6f7e7;
  border-radius: 10px;
  margin: 0px 40px 20px 20px;
  padding: 10px 10px 10px 10px;
  color: #8f938f;
  font-size: 16px;
  font-weight: 700px;
}
.from-ad-dp {
  height: 200px;
  background-color: #e6f7e7;
  border-radius: 10px;
  margin: 0px 40px 20px 20px;
  padding: 10px 10px 10px 10px;
  color: #8f938f;
  font-size: 16px;
  font-weight: 700px;
}
.cad1 {
  padding-left: 20px;
}
.cad2 {
  margin-left: 20px;
}
.row-btn {
  height: 80px;
}
.btn-width {
  width: 180px;
}
.col-ad-bn1 {
  border-right: 1px groove #f8fefc8f;
}
.row-form {
  padding: 10px 10px 10px 0px;
}
.col-if {
  padding: 0px;
}
