.bgrHeader {
  background-color: #f4fbf4;
  width: 100%;

  height: 150px;
  font-size: 30px;
  color: red;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 50px;
  padding: 0px;
  line-height: 50px;
  background-color: #1bb120;
}
a {
  font-size: 20px;
  color: #f8f9fa;
}
a:hover {
  text-decoration: none;
  color: #f8f9fa;
  background-color: #46a049;
}
a:active {
  background-color: #acf427;
}
