@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.footer-top {
  padding: 20px 0;
  background: #333;
  text-align: left;
  color: #aaa;
}
.footer-top a {
  font-size: 13px;
}
.footer-top h3 {
  padding-bottom: 10px;
  color: #fff;
}

.footer-about img.logo-footer {
  max-width: 74px;
  margin-top: 0;
  margin-bottom: 18px;
}
.footer-about p a {
  border: 0;
}
.footer-about p a:hover,
.footer-about p a:focus {
  border: 0;
}

.footer-contact p {
  word-wrap: break-word;
}
.footer-contact i {
  padding-right: 10px;
  font-size: 13px;
  color: #666;
}
.footer-contact p a {
  border: 0;
}
.footer-contact p a:hover,
.footer-contact p a:focus {
  border: 0;
}

.footer-links a {
  color: #aaa;
  border: 0;
}
.footer-links a:hover,
.footer-links a:focus {
  color: #fff;
}

.footer-bottom {
  padding: 15px 0 17px 0;
  background: #444;
  text-align: left;
  color: #aaa;
}

.footer-social {
  padding-top: 3px;
  text-align: right;
}
.footer-social a {
  margin-left: 20px;
  color: #777;
  border: 0;
}
.footer-social a:hover,
.footer-social a:focus {
  color: #79a05f;
  border: 0;
}
.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}

.footer-copyright {
  padding-top: 5px;
}
.footer-copyright a {
  color: #fff;
  border: 0;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #aaa;
  border: 0;
}
 
button:focus {
  border: none;
  outline: none;
   
}
.bntnavbar {
  font-size: 20px;
  color: #f8f9fa;
}
