.bgr {
  width: 100%;
  height: auto;
  background-color: #dce5dc;
  margin: 0px;
}

.infotrangchu {
  background-color: #f8f9fa;
  width: 100%;
  min-height: 250px;
  height: auto;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
}
.info1 {
  height: 100px;
  padding-top: 20px;
}
.info2 {
  height: 100px;
  padding-top: 20px;
}
.last-update {
  font-style: italic;
  font-size: 14px;
  text-align: right;
  padding: 20px 20px 10px 0px;
}
.text-update {
  color: #008000;
  display: inline;
}
.bandotrangchu {
  background-color: #f8f9fa;
  width: 100%;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 30px 0px 50px 0px;
}
.numberI4 {
  font-weight: 700;
  font-size: 24px;
}
.col1 {
  line-height: 60px;
  padding: 0px 20px 0px 60px;
}
.text__col1 {
  background-color: #3071a9;
  border-radius: 8px;
  color: #f8f9fa;
}
.text__col1:hover {
  background-color: #519ada;
  cursor: pointer;
}
.col2 {
  color: #f8f9fa;

  line-height: 60px;
  padding: 0px 20px 0px 60px;
}
.flagBox {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: none;
}
.text-dropdown {
  cursor: pointer;
}
.flagText {
  line-height: 60px;
  padding-left: 10px;
}
.col3 {
  color: #c9302c;
}
.col4 {
  color: #ff9c00;
}
.col5 {
  color: #337ab7;
}
.col6 {
  color: #666666;
}
.scrollable-menu {
  height: auto;
  font-size: 16px;
  line-height: 20px;
  max-height: 200px;
  overflow-x: hidden;
}
.bieu-do {
  color: aqua;
}
